In [1]:
import pandas as pd 
import numpy as np 
import nltk

In [2]:
df=pd.read_csv("D:/Downloads/Downloads/datasets_277570_573766_Restaurant_Reviews.tsv",delimiter = '\t')

In [3]:
df.sample(5)

                                                Review  Liked
431                           We loved the biscuits!!!      1
868  The service was great, even the manager came a...      1
506         Overall I wasn't very impressed with Noca.      0
538                                Worst martini ever!      0
216                                Soggy and not good.      0

## Data preprocessing

In [4]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [6]:
corpus=[]

In [7]:
for i in range (0,1000):
    review=re.sub('[^a-zA-Z]',' ',df['Review'][i])
    review=review.lower()
    review=review.split()
    ps=PorterStemmer()
    review=[ps.stem(word) for word in review
        if not word in set(stopwords.words('english'))] 
    review=' '.join(review)
    corpus.append(review)

## Tf-Idf

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()

In [11]:
X=tfidf.fit_transform(corpus).toarray()

In [10]:
y=df.iloc[:,-1].values

## Train Test Split

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

## Gaussian bayes

In [13]:
from sklearn.naive_bayes import GaussianNB
classifier=GaussianNB()

In [14]:
classifier.fit(X_train,y_train)

GaussianNB()

In [15]:
y_pred=classifier.predict(X_test)

In [16]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [17]:
print(confusion_matrix(y_test,y_pred))

[[ 71  46]
 [ 27 106]]

In [18]:
print(accuracy_score(y_test,y_pred))

0.708

## multinominal NB

In [19]:
from sklearn.naive_bayes import MultinomialNB
classifier2=MultinomialNB()

In [21]:
classifier2.fit(X_train,y_train)

MultinomialNB()

In [22]:
y_pred2=classifier2.predict(X_test)

In [23]:
print(confusion_matrix(y_test,y_pred2))

[[ 86  31]
 [ 31 102]]

In [24]:
print(accuracy_score(y_test,y_pred2))

0.752